@use 'sass:map';
@use './index.scss' as *;

.lunar-date-picker {
	position: relative;
	width: auto;
	font-family: 'system-ui';
	.date-input-container {
		position: relative;
		display: flex;
		align-items: center;
		@each $size, $value in $input-sizes {
			&[data-size='#{$size}'] {
				font-size: map.get($value, 'font-size');
				.date-input {
					padding: map.get($value, 'padding');
					font-size: map.get($value, 'font-size');
				}
			}
		}
		@each $status, $value in $input-status {
			&[data-status='#{$status}'] {
				color: map.get($value, 'message-color');
				.date-input {
					outline:none;
					border:1px solid map.get($value, 'border-color');
					&:focus {
						border:1px solid map.get($value, 'focus-color');
						box-shadow:0px 0px 0px 2px map.get($value, 'focus-shadow');
					}
					&:hover {
						border:1px solid map.get($value, 'hover-color');
					}
					&.active {
						
						border:1px solid map.get($value, 'focus-color');
						box-shadow:0px 0px 0px 2px map.get($value, 'focus-shadow');
					}
				}

			}
		}
		.date-input {
			border-radius: var(--input-border-radius);
			width: 100%;
			transition: border-color 0.2s ease;
		}

		.clear-button {
			position: absolute;
			right: 32px;
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
			color: inherit;
			// font-size: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border-radius: 50%;

			&:hover {
				color: #666;
				background-color: #f0f0f0;
			}
		}

		.calendar-icon {
			position: absolute;
			right: 8px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.calendar-popup {
		position: absolute;
		top: 110%;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 12px;
		min-width: 280px;
		background: white;
		border: 1px solid #f0f0f0;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
		z-index: 1000;
		overflow: hidden;
		max-height: 0;
		transition: opacity 0.15s ease-in-out;
		opacity: 0;
		visibility: hidden;

		&.show {
			max-height: 440px;
			opacity: 1;
			visibility: visible;
		}

		.calendar-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 12px;
			margin-bottom: 8px;
			border-bottom: 1px solid #f0f0f0;
			button {
				cursor: pointer;
				background: none;
				border: none;
				padding: 2px;
				padding: 0;
				margin: 0;
				&:hover {
					color: var(--calendar-active-background-color);
				}
			}
		}
		.weekdays {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 6px;
			margin-bottom: 5px;
			font-weight: bold;
		}

		.weekday {
			text-align: center;
			padding: 5px;
			font-size: 0.9em;
			&.sunday {
				color: var(--calendar-weekend-color);
			}
		}

		.calendar-grid {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 3px;
		}

		.calendar-day {
			&.empty {
				visibility: hidden;
			}
			padding: 4px 8px;
			text-align: center;
			cursor: pointer;
			border-radius: 4px;

			&:hover {
				background-color: #f0f0f0;
			}
			/* sunday date */
			&.sunday {
				.solar-date {
					color: var(--calendar-weekend-color);
				}
			}

			.solar-date {
				font-size: 1em;
			}

			.lunar-date {
				font-size: 10px;
				color: #666;
				white-space: pre-line;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
			}
			/* selected date */
			&.selected {
				background-color: var(--calendar-active-background-color);
				color: white;

				.solar-date {
					color: white;
					font-weight: bold;
				}
				.lunar-date {
					color: rgba(255, 255, 255, 0.8);
				}
			}
			&.today {
				border: 1px solid var(--calendar-active-background-color);
			}

			&.disabled {
				opacity: 0.5;
				cursor: not-allowed;
				pointer-events: none;
			}
		}
	}

	.date-picker-label {
		display: block;
		margin-bottom: 8px;
		font-weight: 500;
		color: var(--input-label-color);

		.required {
			color: red;
			margin-left: 4px;
		}
	}
}
